{% extends 'burger/base.html' %}

{% block title %}Add Burger{% endblock %}

{% block body_block %}


    <div class="span12 pagination-centered" style="text-align:center;">
     <h2> Add new burger</h2>
    <center>
     <form id="category_form" method="post" action="{% url 'add_burger' %}" class="" enctype="multipart/form-data">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }} <br/>
            {{ field }}
            <br>
        {% endfor %}

            <input type="submit" name="submit" value="Add Burger" class="btn btn-primary btn-lg btn-block" style="margin-top:5px;"/>
        </form>
    </center>
    </div>
    <div id="results"></div>

    <script type="text/javascript">
        $('#id_location').after("<br><span class='redirect_link'><p>cannot find the restaurant location?</p><a href='{% url 'add_place' %}' >Add It Now!</a></span>")
    </script>

    <center>
    {% if user.is_superuser %}
    <form id='category_add' action="{% url 'add_burger_category' %}">
        {% csrf_token %}
        <input id='burger_cat_name' maxlength='128' name='name' type='text' class="form-control login-field" placeholder="Category"><br/>
        <input type='submit' name='submit' value='Add Burger Category' class="btn btn-primary btn-lg btn-block" style="margin-top:5px;"/>
    </form>
    </center>
    <script type="text/javascript">

        $(document).ready(function(){
            $('#id_location')[0].style.width = "200px";
            $('#id_location').selectize();
            $('#id_category')[0].style.width = "200px";
            $('#id_category').selectize();
        })

        var form = $('#category_add');
        ajaxForm(
            form,
            function(json) {
                $('#burger_cat_name').val('');
                console.log(json);
                console.log(json.result);
                if (json.result === 'created') {
                    var categorySelect = $(json.form).find('#id_category');
                    $("#id_category").html("");
                    $("#id_category").append(categorySelect.find('option'));
                }
            },
            function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>");
                console.log(xhr.status + ": " + xhr.responseText);
            }
        );
    </script>
    {% endif %}
{% endblock %}
