{% extends 'burger/base.html' %}
{% block title %}Add Burger{% endblock %}

{% block body_block %}


    <div class="span12 pagination-centered" style="text-align:center;">
     <h2> Add new burger</h2>
     
     <form id="category_form" method="post" action="{% url 'add_burger' %}" enctype="multipart/form-data">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br>
        {% endfor %}

            <input type="submit" name="submit" value="Add Burger" />
        </form>
    </div>
    <div id="results"></div>

    <script type="text/javascript">
        $('#id_location').after("<br><span class='redirect_link'><p>cannot find the restaurant location?</p><a href='{% url 'add_place' %}' >Add It Now!</a></span>")
    </script>

    <div id="map-canvas"></div>

    <script>
        var map, markerPointer;
        function initialize() {
            pos = points[0].fields.position;
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(pos.split(',')[0], pos.split(',')[1])
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            addMarker(mapOptions.center, getInfoWindow(points[0].fields));
        }

        function addMarker(location, infowindow) {
            if (markerPointer !== undefined) {
                markerPointer.setMap(null);
            }
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            attachMessage(marker, infowindow);
            markerPointer = marker;
        }

        function attachMessage(marker, content) {
            var infowindow = new google.maps.InfoWindow({
                content: content,
                size: new google.maps.Size(50,50)
            });
            google.maps.event.addListener(marker, 'click', function() {
                var anchor = infowindow.getAnchor();
                if (anchor === undefined || anchor === null) {
                    infowindow.open(map, marker);
                }
                else {
                    infowindow.close();
                }
            });
        }

        function getInfoWindow(data) {
            return "<div>"+
                        "<div>"+
                            "<h6>"+data.name+"</h6>"+
                        "</div>"+
                        "<div class='map_address'>"+
                            "Address: "+data.address+"<br>"+
                            "City: "+data.city+"<br>"+
                            "Zipcode: "+data.zipcode+"<br>"+
                        "</div>"+
                    "</div>";
        }

        var decoded = $("<div/>").html("{{data}}").text();
        var location_select = $("#id_location");
        if (decoded.length > 0) {
            var points = JSON.parse(decoded);
            if (points.length > 0) {
                google.maps.event.addDomListener(window, 'load', initialize);
                location_select.val($($("#id_location option")[1]).val());
            }
        }
        location_select.change(function() {
            var restaurantId = parseInt($(this).val());
            var restaurant = points.filter(function(obj){return obj.fields.restaurant === restaurantId})[0].fields;
            var latlng = new google.maps.LatLng(restaurant.position.split(',')[0], restaurant.position.split(',')[1]);
            addMarker(latlng, getInfoWindow(restaurant));
            map.setCenter(latlng);
        });
    </script>

    {% if user.is_superuser %}
    <form id='category_add' action="{% url 'add_burger_category' %}">
        {% csrf_token %}
        <input id='burger_cat_name' maxlength='128' name='name' type='text'>
        <input type='submit' name='submit' value='Add Burger Category' />
    </form>
    
    <script type="text/javascript">
        var form = $('#category_add');
        ajaxForm(
            form,
            function(json) {
                $('#burger_cat_name').val('');
                console.log(json);
                console.log(json.result);
                if (json.result === 'created') {
                    var categorySelect = $(json.form).find('#id_category');
                    $("#id_category").html("");
                    $("#id_category").append(categorySelect.find('option'));
                }
            },
            function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>");
                console.log(xhr.status + ": " + xhr.responseText);
            }
        );
    </script>
    {% endif %}
{% endblock %}