{% extends 'burger/base.html' %}
{% load staticfiles %}
{% block title %}{{burger.name}}{% endblock %}

{% block body_block %}
<script src="{% static 'galleria-1.4.2.min.js'%}"></script>
<h1>{{ burger.name }}</h1>
This burger is categorised as: {{burger.category}}<br>
Average Rating: <div class='avg_rating'>{{avg_rating.rating__avg}}</div>
<div class="{{burger.slug}}_image burger_images galleria"></div>
{% if burger %}
    <div class="burger_right">
    <h6>Review</h6>
    <div id="review">
        {% if reviews %}
        <ul>
            {% for comment in reviews %}
                <div class="review">
                    {{comment.text}}<br>
                    <div class="profile_img">
                        {% if comment.user.picture %}
                            <img src="{{ MEDIA_URL }}{{comment.user.picture}}"/>
                        {% else %}
                            <img src="{% static 'default.png' %}"/>
                        {% endif %}
                    </div>
                    <div class="review_right">
                        {{comment.user}}<br>
                        {{comment.date}}
                    </div>
                </div>
            {% endfor %}
        </ul>
        {% else %}
           <center> <strong>No review currently in {{burger.name}}.</strong></center><br>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <form id="review_form" method="post" class="form-group" action="{% url 'burger_page' slug%}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }} <br/>
                {{ field }}
                <br>
                {{picture_form}}
            {% endfor %}

           <input type="submit" name="submit" class="btn btn-primary btn-lg btn-block" value="Submit Review" /></center>
        </form>

        <script type="text/javascript">
            var form = $('#review_form');
            ajaxForm(
                form,
                function(json) {
                    $('#id_text').val('');
                    console.log(json.result);
                    if (json.result === 'success') {
                        $('#review').html("");
                        $('#review').append(json.reviews);
                        $('.avg_rating').text(json.avg_rating.rating__avg);
                    }
                    $("#review").scrollTop($("#review")[0].scrollHeight);
                },
                function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            );
        </script>
    {% endif%}
    </div>

    <h6>Where To Find It</h6>
    <div>
        Address : {{burger.location.address}}<br>
        City : {{burger.location.city}}<br>
        Zipcode : {{burger.location.zipcode}}<br>
    </div>
    <div id="map-canvas-burger"></div>

    <script>
        function initialize() {
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(
                    {{burger.location.position.latitude}},
                    {{burger.location.position.longitude}}
                )
            };
                var map = new google.maps.Map(document.getElementById('map-canvas-burger'), mapOptions);
            var marker = new google.maps.Marker({
                position: mapOptions.center,
                map: map
            });
        }
        $(document).ready(function() {
            google.maps.event.addDomListener(window, 'load', initialize);
            $("#review").scrollTop($("#review")[0].scrollHeight);
            if ($("label[for='id_picture']").length > 1)
                $($("label[for='id_picture']")[0]).remove()
            if ($("input[name='picture']").length > 1)
                $($("input[name='picture']")[0]).remove()
        });
    </script>

    <script type="text/javascript">
        getImages(
            "{{burger.slug}}",
            function(json) {
                if (json.urls.length > 0) {
                    for (var idx in json.urls) {
                        $("."+json.slug + "_image").append("<img src='"+json.urls[idx]+"'>");
                    }
                    Galleria.loadTheme("{% static 'galleria.classic.min.js' %}");
                    Galleria.run('.burger_images');
                }
                else {
                    $(".galleria").hide();
                }
            }
        );
    </script>
{% else %}
    The specified burger {{ burger.name }} does not exist!
{% endif %}

{% endblock %}