{% load staticfiles %}
<!-- this is for add category -->
{{form.as_p}}

<!-- this is for add review -->
{% if reviews %}
<ul>
    {% for comment in reviews %}
        <div class="review">
        {{comment.text}}<br>
        <div class="profile_img">
            {% if comment.user.picture %}
                <img src="/media/{{comment.user.picture}}"/>
            {% else %}
                <img src="{% static 'default.png' %}"/>
            {% endif %}
        </div>
        <div class="review_right">
            {{comment.user}}<br>
            {{comment.date}}
        </div>
        </div>
    {% endfor %}
</ul>
{% else %}
    <strong>No review currently in {{burger.name}}.</strong><br>
{% endif %}