{% extends 'burger/base.html' %}
{% block title %}Index{% endblock %}

{% load staticfiles %} <!-- New line -->

{% block body_block %}
    {% if user.is_authenticated %}
        Hello  {{ user.username }} oh might Burger eater!<br>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <input class="form-control mega-search" id="navbarInput-01" type="search" placeholder="Search for burgers!!">
            </div>
            <div id="search_result"></div>
        </div>
        <div class="row">
            <div class="left-col">
                <h2> Burger King</h2>
                of the month goes to .......<br>
                {% if best %}
                <a href="{% url 'burger_page' best.target.slug %}"><h1>{{ best.target.name }}</h1></a><br/>
                Available at: <br/>
                Address: {{ best.target.location.address }}<br>
                City: {{ best.target.location.city }}<br>
                Zipcode: {{ best.target.location.zipcode }}<br>

                {% endif %}

            </div>

            <div class="right-col">
                <h2> Recent Comment </h2>
                <div id="review_main">
                {% if reviews %}
                <ul>
                    {% for comment in reviews %}
                        <div class="review">
                            Burger: {{comment.target.name}}<br>
                            Review: {{comment.text}}<br>
                            <div class="profile_img">
                                {% if comment.user.picture %}
                                    <img src="{{ MEDIA_URL }}{{comment.user.picture}}"/>
                                {% else %}
                                    <img src="{% static 'default.png' %}"/>
                                {% endif %}
                            </div>
                            <div class="review_right">
                                {{comment.user}}<br>
                                {{comment.date}}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
                </div>
                {% else %}
                   <center> <strong>No review currently in {{burger.name}}.</strong></center><br>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function ajaxSearch(keyword, successHandler) {
            $.ajax({
                url: "{% url 'search' %}",
                type: "GET",
                data: {"q": keyword, "csrfmiddlewaretoken": $("{% csrf_token %}").val()},
                success: successHandler,
                error: function(){}
            });
        }
        var url = "{% url 'burger_page' 'replace_me' %}";
        $(function() {
            var timer;
            $("#navbarInput-01").keyup(function() {
                clearTimeout(timer);
                var ms = 1000;
                var val = this.value;
                timer = setTimeout(function() {
                    ajaxSearch(val, function(json){
                        console.log(json.burger);
                        if (json.burger.length > 0) {
                            var htmlCode = "";
                            for (var idx in json.burger) {
                                var link = url.replace('replace_me', json.burger[idx]);
                                htmlCode += "<a href='"+link+"'>"+json.burger[idx]+"</a>,\t";
                            }
                            $("#search_result").html("");
                            $("#search_result").append(htmlCode);
                        }
                        else {
                            $("#search_result").html("");
                            $("#search_result").append("No Result");
                        }
                    })
                }, ms);
            });
        });
    </script>
{% endblock %}