{% extends 'burger/base.html' %}
{% block title %}Index{% endblock %}

{% load staticfiles %} <!-- New line -->

{% block body_block %}
    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% if user.is_authenticated %}
                Hello  {{ user.username }} oh might Burger eater!<br>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control mega-search" id="navbarInput-01" type="search" placeholder="Search for burgers/pubs/restaurants">
                    </div>
                </div>
                <div class="row">
                    <div class="left-col">
                        <h2> Burger King</h2>
                        of the month <br>
                        {% if best %}
                        <h4>{{ best.name }}</h4> <br/>
                        Available at: <br/>
                        {{ best.location }}

                        {% endif %}

                    </div>

                    <div class="right-col">
                        <h2> Recent Reviews</h2>
                        this month <br/>
                        {% if worst %}
                        <h4> {{ worst.name }}</h4> <br/>
                        Available at: <br/>
                        {{ worst.location }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}