{% extends 'burger/base.html' %}

{% block title %}Burger Surf{% endblock %}

{% block body_block %}

{% if burgers %}
    <ul style="list-style-type: none;">
        {% for burger in burgers %}
        <li>
            <a href="{% url 'burger_page'  burger.slug %}">
                <div class="{{burger.slug}}_image burger_images"></div>
            <br/>
                {{ burger.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <strong>There are no Burger. So hungry!!</strong><br>
{% endif %}

<a href="{% url 'add_burger' %}">Give me a New Burger</a><br />
{% if burgers %}
<script type="text/javascript">
    var slugs = [];
    {% for burger in burgers %}
    slugs.push("{{burger.slug}}")
    {% endfor %}
    for (var slug in slugs) {
        getImages(
            slugs[slug],
            function(json){
                if (json.urls.length > 0) {
                    var range = json.urls.length;
                    $("."+json.slug + "_image").append("<img src='"+json.urls[Math.floor(Math.random()*range)]+"'>");
                }
            }
        );
    }
</script>
{% endif %}

{% endblock %}