{% extends 'burger/base.html' %}

{% block title %}Burger Surf{% endblock %}

{% block body_block %}
<h1>Burger Surf</h1>
{% if burgers %}
    <div class="burger_item_container">
    {% for burger in burgers %}
    <div class="burger_item">
        <a href="{% url 'burger_page'  burger.slug %}">
            <div class="{{burger.slug}}_image burger_images"></div>
        <br/>
            {{ burger.name }}
        </a>
    </div>
    {% endfor %}
    </div>
{% else %}
    <strong>There are no Burger. So hungry!!</strong><br>
{% endif %}

<div><a href="{% url 'add_burger' %}">Give me a New Burger</a><br /></div>
{% if burgers %}
<script type="text/javascript">
    var slugs = [];
    {% for burger in burgers %}
    slugs.push("{{burger.slug}}")
    {% endfor %}
    for (var slug in slugs) {
        getImages(
            slugs[slug],
            function(json){
                if (json.urls.length > 0) {
                    var range = json.urls.length;
                    $("."+json.slug + "_image").append("<img src='"+json.urls[Math.floor(Math.random()*range)]+"'>");
                }
            }
        );
    }
</script>
{% endif %}

{% endblock %}